@use "src/scss/common/files/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include s(padding-top, 24);
  transition: background var(--trs-cubic-600), box-shadow var(--trs-cubic-600);
  @media (max-width: $tab-sm) {
    @include s(padding-top, 12);
    @include s(padding-bottom, 12);
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    .header-navigation {
      display: flex;
      align-items: center;
      @include s(gap, 20);
      position: relative;
      .burger {
        @include s(width, 64);
        @include s(height, 40);
        border-radius: 999px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
        padding: 0;
        transition: var(--trs-cubic-600);
        @media (max-width: $tab-sm) {
          @include s(width, 40);
          @include s(height, 40);
        }
        span {
          @include s(width, 24);
          height: 1px;
          background: var(--white-color);
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          transition: var(--trs-cubic-600);
          @media (max-width: $tab-sm) {
            @include s(width, 16);
          }
          &:nth-child(1) {
            @include s(top, 14);
          }
          &:nth-child(2) {
            top: 0;
            bottom: 0;
          }
          &:nth-child(3) {
            @include s(bottom, 14);
          }
        }
        &.active {
          span {
            &:nth-child(1) {
              transform: rotate(25deg);
              @include s(top, 18.5);
            }
            &:nth-child(3) {
              transform: rotate(-25deg);
              @include s(bottom, 18.5);
            }
            &:nth-child(2) {
              width: 0%;
            }
          }
        }
      }
      nav {
        display: flex;
        align-items: center;
        @include s(gap, 20);
        transition: var(--trs-300);
        @media (max-width: $tab-sm) {
          display: none;
        }
        a,
        button {
          color: var(--white-color);
          display: flex;
          align-items: center;
          @include s(gap, 8);
          text-transform: uppercase;
          @include descr-s;
          transition: var(--trs-cubic-300);

          svg {
            @include s(width, 12);
            @include s(height, 6);
          }
        }
      }
      .account-btn {
        top: 0;
        bottom: 0;
        @include s(left, 84);
        margin: auto;
        position: absolute;
        @include descr-s;
        color: var(--accent-color);
        @include s(gap, 12);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: var(--trs-600);
        transform: translateY(-40%);
        pointer-events: none;

        svg {
          @include s(width, 19);
          @include s(height, 17);
        }
      }
    }
    .logo-wrapper {
      display: flex;
      justify-content: center;
      flex: 1;

      .logo {
        @include s(min-width, 183);
        @include s(min-height, 116);
        @include s(max-width, 183);
        @include s(max-height, 116);
        @include s(padding-right, 21);
        transition: var(--trs-cubic-600);
        @media (max-width: $tab-sm) {
          @include s(min-width, 63);
          @include s(min-height, 40);
          @include s(max-width, 63);
          @include s(max-height, 40);
          padding-right: 0;
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .header-contacts-wrapper {
      display: flex;
      align-items: center;
      @include s(gap, 24);
      .header-contacts {
        display: flex;
        align-items: center;
        @include s(gap, 4);
        a {
          border: 1px solid rgba(255, 255, 255, 0.2);
          @include descr-s;
          border-radius: 9999px;
          @include s(min-height, 40);
          @include s(height, 40);
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: var(--white-color);
          @include descr-s;
          transition: var(--trs-cubic-600);
        }
        .tel {
          @include padding(0, 24);
          @media (max-width: $tab-sm) {
            padding: 0;
            @include s(width, 40);
            @include s(height, 40);
            p {
              display: none;
            }
            svg {
              display: block;
              @include s(width, 15);
              @include s(height, 15);
            }
          }
          img {
            display: none;
          }
        }
        .tg,
        .wa {
          @include s(min-width, 40);
          @include s(width, 40);
          @media (max-width: $tab-sm) {
            display: none;
          }
          svg {
            @include s(width, 17);
            @include s(height, 17);
          }
        }
      }
      .btn {
        @media (max-width: $tab-sm) {
          display: none;
        }
      }
    }
  }
  &.active {
    background: var(--beige-color);
    box-shadow: var(--shadow);
    .header-navigation {
      .burger {
        border-color: var(--lines-red-color);
        span {
          background: var(--accent-color);
        }
      }
      nav {
        a,
        button {
          color: var(--accent-color);
          svg {
            path {
              stroke: var(--accent-color);
            }
          }
        }
      }
    }
    .logo-wrapper {
      .logo {
        @include s(min-width, 126);
        @include s(min-height, 80);
        @include s(max-width, 126);
        @include s(max-height, 80);
        @include s(padding-right, 21);
        .change-color {
          fill: var(--dark-color);
        }
      }
    }
    .header-contacts-wrapper {
      .header-contacts {
        .tel {
          svg {
            path {
              fill: var(--dark-color);
            }
          }
        }
        a {
          border-color: var(--lines-red-color);
          color: var(--dark-color);
        }
        svg {
          path {
            fill: var(--dark-color);
          }
        }
      }
    }
  }
  &.menu-active {
    box-shadow: none;
    .header-navigation {
      .account-btn {
        transform: translateX(0);
        pointer-events: all;
        opacity: 1;
      }
      nav {
        transform: translateY(40%);
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
