mixin breadcrumbs(links)
    .breadcrumbs.container&attributes(attributes) 
        each link,index in links
            a(href=link.link) 
                | #{link.text}
                img(src="./img/icons/arrow-right-outline-beige.svg", alt="arrow" width='12' height='10')

