@use "src/scss/common/files/mixins" as *;

.home-alert {
  @include s(height, 1059);
  .image-wrapper {
    @include s(height, 600);
    mask: url("../img/mask-hero.svg") bottom/cover no-repeat;
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      @include s(height, 356);
      z-index: 1;
      pointer-events: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:nth-child(2) {
        position: absolute;
        bottom: 0;
        width: 100%;
        @include s(height, 356);

        mix-blend-mode: screen;
        z-index: 2;
        right: 0;
        left: 0;
      }
    }
  }
  .home-alert-wrapper {
    @include s(height, 600);
    mask: url("../img/mask-hero.svg") bottom/cover no-repeat;
    position: relative;
    background: var(--accent-color);
    @include s(padding-top, 138);
    @include s(margin-top, -111);
    .home-alert-wrapper-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > img {
        @include s(width, 28);
        @include s(height, 11);
      }
      .content {
        display: grid;
        @include gtc(228, 1fr, 228);
        @include s(gap, 104);
        .alert-img {
          @include s(width, 228);
          @include s(height, 228);
          .alert-outer {
            @include s(width, 228);
            @include s(height, 228);
          }
          .alert-inner {
            @include s(width, 203);
            @include s(height, 203);
          }
        }
        .title {
          color: var(--white-color);
          @include h3;
          @include s(margin-top, 20);
          text-align: center;
        }
      }
    }
  }
}
