@use "src/scss/common/files/mixins" as *;

.contacts {
  @include s(margin-bottom, 128);
  @media (max-width: $tab-sm) {
    @include s(margin-bottom, 96);
  }
  .contacts-inner {
    @include s(margin-top, 52);
    @media (max-width: $tab-sm) {
      @include s(margin-top, 64);
    }
    h3 {
      @include h1;
      color: var(--accent-color);
      text-align: center;
    }
    .contacts-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include s(gap, 48);
      @include s(margin-top, 48);
      @media (max-width: $tab-sm) {
        grid-template-columns: 1fr;
        @include s(margin-top, 24);
        @include s(gap, 28);
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .pin-wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          img {
            &:nth-child(1) {
              @include s(width, 181);
              @include s(height, 36);
              @media (max-width: $tab-sm) {
                @include s(width, 141);
                @include s(height, 28);
              }
            }
            &:nth-child(2) {
              @include s(width, 40);
              @include s(height, 40);
              @media (max-width: $tab-sm) {
                @include s(width, 32);
                @include s(height, 32);
              }
            }
          }
        }
        .address {
          @include h5;
          text-align: center;
          @include s(margin-top, 28);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 12);
          }
        }
        .separator {
          @include s(margin-top, 28);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 20);
          }
          &:after {
            @include s(width, 303);
            background: var(--hover-color);

            @media (max-width: $tab-sm) {
              @include s(width, 137);
            }
          }
          &:before {
            @include s(width, 303);
            background: var(--hover-color);

            @media (max-width: $tab-sm) {
              @include s(width, 137);
            }
          }
        }
        .places {
          @include s(margin-top, 28);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 20);
          }
          .title {
            @include descr-m;
            text-align: center;
            text-transform: uppercase;
            @media (max-width: $tab-sm) {
              @include descr-s;
            }
          }
          .places-list {
            @include s(margin-top, 12);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            @include s(gap, 12);
            @media (max-width: $tab-sm) {
              @include s(gap, 4);
            }
            .place-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              @include s(gap, 6);
              @media (max-width: $tab-sm) {
                @include s(gap, 4);
              }
              img {
                @include s(width, 36);
                @include s(height, 36);
                @media (max-width: $tab-sm) {
                  @include s(width, 28);
                  @include s(height, 28);
                }
              }
              p {
                text-transform: uppercase;
                color: var(--hover-color);
                @include descr-s;
                text-align: center;
                @media (max-width: $tab-sm) {
                  @include descr-xs;
                }
              }
            }
          }
        }
        .btn-wrapper {
          @include s(margin-top, 30);
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          @media (max-width: $tab-sm) {
            @include s(margin-top, 20);
          }
          &:after {
            content: "";
            @include s(width, 171);
            height: 1px;
            background: var(--hover-color);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            @media (max-width: $tab-sm) {
              @include s(width, 25);
            }
          }
          &:before {
            content: "";
            @include s(width, 171);
            height: 1px;
            background: var(--hover-color);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            @media (max-width: $tab-sm) {
              @include s(width, 25);
            }
          }
          .btn {
            position: relative;
            width: fit-content;
          }
        }
        .tel {
          @include s(margin-top, 60);
          @include descr-xl;
          @media (max-width: $tab-sm) {
            @include s(margin-top, 28);
            @include descr-l;
          }
        }
        .dates {
          display: grid;
          @include gtc(1fr, 40, 1fr);
          @include s(gap, 22);
          @include s(margin-top, 28);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 16);
            @include s(gap, 20);
            @include gtc(1fr, 32, 1fr);
          }
          .date-item {
            display: flex;
            flex-direction: column;
            @include s(gap, 6);
            &:first-child {
              p {
                text-align: right;
              }
            }
            p {
              &:first-child {
                color: var(--accent-color);
                text-transform: uppercase;
                @include descr-s;
              }
              &:last-child {
                text-transform: uppercase;
                @include descr-m;
                @media (max-width: $tab-sm) {
                  @include descr-s;
                }
              }
            }
          }
          img {
            @include s(width, 40);
            @include s(height, 40);
            @media (max-width: $tab-sm) {
              @include s(width, 32);
              @include s(height, 32);
            }
          }
        }
      }
    }
  }
}
