@use "src/scss/common/files/mixins" as *;

.event-item {
  @media (max-width: $tab-sm) {
    max-width: 100%;
    @include s(margin-top, 82);
  }
  h1 {
    color: var(--accent-color);
    text-align: center;
    @include h1;
    @include s(margin-top, 28);
    @media (max-width: $tab-sm) {
      @include s(max-width, 320);
      text-align: center;
      margin: auto;
    }
  }
  .subtitle {
    text-align: center;
    margin: auto;
    @include display-m;
    @include s(max-width, 888);
    @include s(margin-top, 68);
    @media (max-width: $tab-sm) {
      @include s(margin-top, 52);
      @include display-s;
      @include s(max-width, 320);
    }
  }
  .event-swiper-wrapper {
    @include s(margin-top, 36);
    @media (max-width: $tab-sm) {
      @include s(margin-top, 24);
    }
    .event-swiper {
      position: relative;
      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .navigation {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
        left: 0;
        right: 0;
        justify-content: space-between;
      }
    }
    .date-wrapper {
      @include s(max-width, 888);
      margin: calc(-40 / var(--screensize) * 100vw) auto;
      display: grid;
      @include gtc(90, 1fr, 90);
      @include s(gap, 70);
      align-items: flex-end;
      z-index: 2;
      position: relative;
      @media (max-width: $tab-sm) {
        @include gtc(83, 1fr, 83);
        margin: calc(-30 / var(--screensize) * 100vw) auto;
        @include s(max-width, 320);

        @include s(gap, 12);
      }
      .date {
        @include s(width, 80);
        @include s(height, 80);
        display: flex;
        align-items: center;
        justify-content: center;
        @include descr-xl;
        color: var(--accent-color);
        background-image: url("../img/afisha/date-bg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        @media (max-width: $tab-sm) {
          @include s(width, 56);
          @include s(height, 56);
          @include descr-l;
        }
      }
      .year {
        text-align: right;
      }
      .year,
      .mounth {
        color: var(--accent-color);
        text-transform: uppercase;
        @include descr-s;
        @include s(padding-bottom, 12);
      }
    }
  }
  .text-page {
    @media (max-width: $tab-sm) {
      margin-top: 0;
      // @include s(margin-top, 24);
    }
  }
}
