@use "src/scss/common/files/mixins" as *;

.home-features {
  position: relative;
  @include s(height, 684);
  @media (max-width: $tab-sm) {
    @include s(height, 640);
    overflow: hidden;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    @include s(height, 375);
    z-index: 1;
    pointer-events: none;
    @media (max-width: $tab-sm) {
      @include s(height, 196);
    }
  }
  .viniet {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    @media (max-width: $tab-sm) {
      display: none;
    }
    img {
      @include s(height, 96);
      @include s(width, 144);
      position: absolute;
      object-fit: cover;
      &:nth-child(1) {
        @include s(top, 10);
        @include s(left, 10);
      }
      &:nth-child(2) {
        @include s(top, 10);
        @include s(right, 10);
      }
    }
  }
  .imgs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    mix-blend-mode: screen;

    .bg {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .smoke1 {
      position: absolute;
      bottom: 0;
      left: 0;
      @include s(width, 650);
      @include s(height, 400);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .smoke2 {
      position: absolute;
      bottom: 0;
      right: 0;
      @include s(width, 650);
      @include s(height, 400);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .home-features-inner {
    .features-swiper-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .features-swiper {
        height: 100%;
        width: 100%;
        .swiper-slide {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .features-content-swiper {
        @include s(max-width, 660);
        position: absolute;
        @include s(top, 79);

        left: 0;
        right: 0;
        margin: auto;
        @media (max-width: $tab-sm) {
          @include s(top, 96);
        }
        .bg {
          mask: url("../img/mask-format.svg") center/cover no-repeat;
          @include s(height, 469);
          @include s(width, 328);
          background: var(--accent-color);
          z-index: 2;
          position: absolute;

          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          @media (max-width: $tab-sm) {
            @include s(height, 348);
            @include s(width, 220);
          }
        }
        .swiper-wrapper {
          z-index: 3;
        }
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 3;
          position: relative;
          opacity: 0 !important;
          &.swiper-slide-active {
            opacity: 1 !important;
          }
          .content-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .union-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            @include s(gap, 10);
            @include s(padding-bottom, 20);
            border-bottom: 1px solid var(--lines-white-color);
            width: 100%;
            @include s(max-width, 248);
            @media (max-width: $tab-sm) {
              @include s(max-width, 180);
              @include s(padding-bottom, 12);
              @include s(gap, 4);
            }
            img {
              @include s(height, 16);
              @include s(width, 29);
              @media (max-width: $tab-sm) {
                @include s(height, 12);
                @include s(width, 22);
              }
            }
            p {
              text-transform: uppercase;
              @include descr-s;
              color: var(--white-color);
            }
          }
          .title {
            text-align: center;
            color: var(--white-color);
            @include h1;
            @include s(margin-top, 38);
            @media (max-width: $tab-sm) {
              @include s(margin-top, 28);
            }
          }
          .descr {
            @include s(margin-top, 34);
            @include descr-m;
            text-align: center;
            text-transform: uppercase;
            @include s(max-width, 248);
            color: var(--white-color);
            @media (max-width: $tab-sm) {
              @include s(margin-top, 16);
              @include s(max-width, 180);
              @include descr-s;
            }
          }
          button {
            @include s(margin-top, 26);
            @include s(height, 56);
            @include s(width, 56);

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .custom-pagination {
        position: absolute;
        left: 0;
        right: 0;
        @include s(bottom, 36);
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(111px, 1fr));
        margin: auto;
        @media (max-width: $tab-sm) {
          @include s(gap, 20);
          display: flex;
          align-items: center;
          overflow: hidden;
        }
        .pagination-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include s(gap, 11);
          color: var(--white-color);
          text-transform: uppercase;
          @include descr-m;
          position: relative;
          @media (max-width: $tab-sm) {
            white-space: nowrap;
            @include descr-s;
          }
          &.pagination-prev,
          &.active {
            color: var(--accent-color);
            svg {
              path {
                fill: var(--accent-color);
              }
            }
          }
          &.pagination-prev {
            &::after {
              width: 80%;
            }
          }
          &:last-child {
            &::after,
            &:before {
              display: none;
            }
          }
          &::after {
            content: "";
            position: absolute;
            @include s(top, 11);
            left: 60%;
            width: 0%;
            height: 1px;
            background: var(--accent-color);
            animation: slidein-features 3550ms linear 0ms infinite;
            z-index: 2;
          }
          &:before {
            content: "";
            position: absolute;
            @include s(top, 11);
            right: -40%;
            width: 80%;
            height: 1px;
            background: var(--lines-white-color);
          }
          svg {
            @include s(width, 12);
            @include s(height, 16);
          }
          &.stop {
            &:after {
              animation: none !important;
            }
          }
        }
      }
    }
  }
}
