mixin home-features()
    .home-features
        .viniet 
            img(loading="lazy" src="./img/home/features/outline1.svg", alt="viniet" width='128' height='85')
            img(loading="lazy" src="./img/home/features/outline2.svg", alt="viniet" width='128' height='85')
        .imgs 
            .bg 
                img(loading="lazy" src="./img/home/features/fire.png", alt="fire" width='1420' height='694')
            .smoke1 
                img(loading="lazy" src="./img/home/features/smoke1.png", alt="smoke" width='1420' height='694')
            .smoke2
                img(loading="lazy" src="./img/home/features/smoke2.png", alt="smoke" width='1420' height='694')
        .home-features-inner.container
            .features-swiper-wrapper 
                .features-swiper
                    .swiper-wrapper 
                        .swiper-slide    
                            img(loading="lazy" src="./img/home/features/bg.jpg", alt="features" width='1420' height='694')
                        .swiper-slide    
                            img(loading="lazy" src="./img/hero/img.jpg", alt="features" width='1420' height='694')
                        .swiper-slide    
                            img(loading="lazy" src="./img/hero/img2.jpg", alt="features" width='1420' height='694')
                        .swiper-slide    
                            img(loading="lazy" src="./img/home/features/bg.jpg", alt="features" width='1420' height='694')
                        .swiper-slide    
                            img(loading="lazy" src="./img/hero/img.jpg", alt="features" width='1420' height='694')
                .features-content-swiper
                    .bg 
                    .swiper-wrapper 
                        .swiper-slide 
                            a(href="#").content-wrapper 
                                .union-wrapper
                                    img(loading="lazy" src="./img/icons/union-white.svg", alt="union" width='29' height='16')
                                    p акцент на качестве
                                h3.title Гастрономические <br>впечатления
                                p.descr WOW- подача блюд, брутальный фудпейринг, гастрономические ритуалы, фуд-шоу и гастросеты.
                                span
                                    img(loading="lazy" src="./img/icons/arrow-right-white.svg", alt="arrow" width='56' height='56')
                        .swiper-slide 
                            a(href="#").content-wrapper 
                                .union-wrapper
                                    img(loading="lazy" src="./img/icons/union-white.svg", alt="union" width='29' height='16')
                                    p акцент на качестве
                                h3.title Авторские <br>спа-программы
                                p.descr WOW- подача блюд, брутальный фудпейринг, гастрономические ритуалы, фуд-шоу и гастросеты.
                                span
                                    img(loading="lazy" src="./img/icons/arrow-right-white.svg", alt="arrow" width='56' height='56')
                        .swiper-slide 
                            a(href="#").content-wrapper 
                                .union-wrapper
                                    img(loading="lazy" src="./img/icons/union-white.svg", alt="union" width='29' height='16')
                                    p акцент на качестве
                                h3.title Аромапарения <br>каждый час
                                p.descr WOW- подача блюд, брутальный фудпейринг, гастрономические ритуалы, фуд-шоу и гастросеты.
                                span
                                    img(loading="lazy" src="./img/icons/arrow-right-white.svg", alt="arrow" width='56' height='56')
                        .swiper-slide 
                            a(href="#").content-wrapper 
                                .union-wrapper
                                    img(loading="lazy" src="./img/icons/union-white.svg", alt="union" width='29' height='16')
                                    p акцент на качестве
                                h3.title Уникальные <br>Шоу-программы
                                p.descr WOW- подача блюд, брутальный фудпейринг, гастрономические ритуалы, фуд-шоу и гастросеты.
                                span
                                    img(loading="lazy" src="./img/icons/arrow-right-white.svg", alt="arrow" width='56' height='56')
                        .swiper-slide 
                            a(href="#").content-wrapper 
                                .union-wrapper
                                    img(loading="lazy" src="./img/icons/union-white.svg", alt="union" width='29' height='16')
                                    p акцент на качестве
                                h3.title Премиальный <br>сервис
                                p.descr WOW- подача блюд, брутальный фудпейринг, гастрономические ритуалы, фуд-шоу и гастросеты.
                                span
                                    img(loading="lazy" src="./img/icons/arrow-right-white.svg", alt="arrow" width='56' height='56')
                .custom-pagination.container 
                    button.pagination-button 
                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.3701 15.3933C9.10122 16.492 11.0736 13.5045 10.9979 10.9596C10.8887 8.60408 9.48354 6.64612 8.24083 4.70273C7.37242 5.49699 6.50369 6.29091 5.63276 7.08265L7.56194 7.82895C7.40527 7.39557 7.24092 6.96659 7.06735 6.52146C5.54972 2.78732 2.55249 -0.95348 3.23358 0.219085C3.26276 0.279317 3.28733 0.33955 3.30423 0.402721C3.37335 0.655403 3.39639 0.912493 3.41021 1.1593C3.59504 4.29486 1.7695 7.09529 0.442717 9.84159C0.164707 10.4057 0.0326156 10.9522 0.00343222 11.4561C-0.0441828 12.4566 0.410462 13.341 0.941907 14.0946C1.47335 14.8468 2.04934 15.4697 2.41951 16C1.87018 14.5913 0.597368 13.223 0.871254 11.6251C0.926549 11.2695 1.074 10.892 1.31822 10.4615C1.66773 9.82725 2.10019 9.2295 2.47634 8.60903C2.89259 7.9024 3.74044 5.55774 3.76963 5.55774C4.38446 6.34144 4.93388 7.91316 5.03987 8.29171L5.59589 10.272L7.11497 9.09383C7.62491 8.69864 8.12563 8.30934 8.62022 7.92444L6.8431 7.48518C7.32693 8.32403 7.76929 9.29509 7.89985 10.062C8.11541 11.47 7.90656 13.4616 6.8431 14.5559C6.48696 14.9279 5.96002 15.278 5.43155 15.3845C5.41004 15.3874 5.36857 15.3977 5.3701 15.3933Z" fill="white"/>
                        </svg>
                        | Гастрономические <br>впечатления
                    button.pagination-button 
                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.3701 15.3933C9.10122 16.492 11.0736 13.5045 10.9979 10.9596C10.8887 8.60408 9.48354 6.64612 8.24083 4.70273C7.37242 5.49699 6.50369 6.29091 5.63276 7.08265L7.56194 7.82895C7.40527 7.39557 7.24092 6.96659 7.06735 6.52146C5.54972 2.78732 2.55249 -0.95348 3.23358 0.219085C3.26276 0.279317 3.28733 0.33955 3.30423 0.402721C3.37335 0.655403 3.39639 0.912493 3.41021 1.1593C3.59504 4.29486 1.7695 7.09529 0.442717 9.84159C0.164707 10.4057 0.0326156 10.9522 0.00343222 11.4561C-0.0441828 12.4566 0.410462 13.341 0.941907 14.0946C1.47335 14.8468 2.04934 15.4697 2.41951 16C1.87018 14.5913 0.597368 13.223 0.871254 11.6251C0.926549 11.2695 1.074 10.892 1.31822 10.4615C1.66773 9.82725 2.10019 9.2295 2.47634 8.60903C2.89259 7.9024 3.74044 5.55774 3.76963 5.55774C4.38446 6.34144 4.93388 7.91316 5.03987 8.29171L5.59589 10.272L7.11497 9.09383C7.62491 8.69864 8.12563 8.30934 8.62022 7.92444L6.8431 7.48518C7.32693 8.32403 7.76929 9.29509 7.89985 10.062C8.11541 11.47 7.90656 13.4616 6.8431 14.5559C6.48696 14.9279 5.96002 15.278 5.43155 15.3845C5.41004 15.3874 5.36857 15.3977 5.3701 15.3933Z" fill="white"/>
                        </svg>
                        | Авторские <br>спа-программы
                    button.pagination-button 
                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.3701 15.3933C9.10122 16.492 11.0736 13.5045 10.9979 10.9596C10.8887 8.60408 9.48354 6.64612 8.24083 4.70273C7.37242 5.49699 6.50369 6.29091 5.63276 7.08265L7.56194 7.82895C7.40527 7.39557 7.24092 6.96659 7.06735 6.52146C5.54972 2.78732 2.55249 -0.95348 3.23358 0.219085C3.26276 0.279317 3.28733 0.33955 3.30423 0.402721C3.37335 0.655403 3.39639 0.912493 3.41021 1.1593C3.59504 4.29486 1.7695 7.09529 0.442717 9.84159C0.164707 10.4057 0.0326156 10.9522 0.00343222 11.4561C-0.0441828 12.4566 0.410462 13.341 0.941907 14.0946C1.47335 14.8468 2.04934 15.4697 2.41951 16C1.87018 14.5913 0.597368 13.223 0.871254 11.6251C0.926549 11.2695 1.074 10.892 1.31822 10.4615C1.66773 9.82725 2.10019 9.2295 2.47634 8.60903C2.89259 7.9024 3.74044 5.55774 3.76963 5.55774C4.38446 6.34144 4.93388 7.91316 5.03987 8.29171L5.59589 10.272L7.11497 9.09383C7.62491 8.69864 8.12563 8.30934 8.62022 7.92444L6.8431 7.48518C7.32693 8.32403 7.76929 9.29509 7.89985 10.062C8.11541 11.47 7.90656 13.4616 6.8431 14.5559C6.48696 14.9279 5.96002 15.278 5.43155 15.3845C5.41004 15.3874 5.36857 15.3977 5.3701 15.3933Z" fill="white"/>
                        </svg>
                        | Аромапарения <br>каждый час
                    button.pagination-button 
                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.3701 15.3933C9.10122 16.492 11.0736 13.5045 10.9979 10.9596C10.8887 8.60408 9.48354 6.64612 8.24083 4.70273C7.37242 5.49699 6.50369 6.29091 5.63276 7.08265L7.56194 7.82895C7.40527 7.39557 7.24092 6.96659 7.06735 6.52146C5.54972 2.78732 2.55249 -0.95348 3.23358 0.219085C3.26276 0.279317 3.28733 0.33955 3.30423 0.402721C3.37335 0.655403 3.39639 0.912493 3.41021 1.1593C3.59504 4.29486 1.7695 7.09529 0.442717 9.84159C0.164707 10.4057 0.0326156 10.9522 0.00343222 11.4561C-0.0441828 12.4566 0.410462 13.341 0.941907 14.0946C1.47335 14.8468 2.04934 15.4697 2.41951 16C1.87018 14.5913 0.597368 13.223 0.871254 11.6251C0.926549 11.2695 1.074 10.892 1.31822 10.4615C1.66773 9.82725 2.10019 9.2295 2.47634 8.60903C2.89259 7.9024 3.74044 5.55774 3.76963 5.55774C4.38446 6.34144 4.93388 7.91316 5.03987 8.29171L5.59589 10.272L7.11497 9.09383C7.62491 8.69864 8.12563 8.30934 8.62022 7.92444L6.8431 7.48518C7.32693 8.32403 7.76929 9.29509 7.89985 10.062C8.11541 11.47 7.90656 13.4616 6.8431 14.5559C6.48696 14.9279 5.96002 15.278 5.43155 15.3845C5.41004 15.3874 5.36857 15.3977 5.3701 15.3933Z" fill="white"/>
                        </svg>
                        | уникальные <br>Шоу-программы
                    button.pagination-button 
                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.3701 15.3933C9.10122 16.492 11.0736 13.5045 10.9979 10.9596C10.8887 8.60408 9.48354 6.64612 8.24083 4.70273C7.37242 5.49699 6.50369 6.29091 5.63276 7.08265L7.56194 7.82895C7.40527 7.39557 7.24092 6.96659 7.06735 6.52146C5.54972 2.78732 2.55249 -0.95348 3.23358 0.219085C3.26276 0.279317 3.28733 0.33955 3.30423 0.402721C3.37335 0.655403 3.39639 0.912493 3.41021 1.1593C3.59504 4.29486 1.7695 7.09529 0.442717 9.84159C0.164707 10.4057 0.0326156 10.9522 0.00343222 11.4561C-0.0441828 12.4566 0.410462 13.341 0.941907 14.0946C1.47335 14.8468 2.04934 15.4697 2.41951 16C1.87018 14.5913 0.597368 13.223 0.871254 11.6251C0.926549 11.2695 1.074 10.892 1.31822 10.4615C1.66773 9.82725 2.10019 9.2295 2.47634 8.60903C2.89259 7.9024 3.74044 5.55774 3.76963 5.55774C4.38446 6.34144 4.93388 7.91316 5.03987 8.29171L5.59589 10.272L7.11497 9.09383C7.62491 8.69864 8.12563 8.30934 8.62022 7.92444L6.8431 7.48518C7.32693 8.32403 7.76929 9.29509 7.89985 10.062C8.11541 11.47 7.90656 13.4616 6.8431 14.5559C6.48696 14.9279 5.96002 15.278 5.43155 15.3845C5.41004 15.3874 5.36857 15.3977 5.3701 15.3933Z" fill="white"/>
                        </svg>
                        | Премиальный <br>сервис
