@use "src/scss/common/files/mixins" as *;

.hero-swiper-obj {
  position: relative;
  @include s(margin-top, 120);
  overflow: hidden;
  @media (max-width: $tab-sm) {
    @include s(margin-top, 62);
  }
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    justify-content: space-between;
  }
}
