mixin 404()
    .not-found 
        .not-found-inner.container
            .title-wrapper 
                span 4
                .image-wrapper 
                    img(src="./img/404/404.jpg", alt="404" data-parallax="left")
                span 4
            .separator 
                img(src="./img/icons/union-red.svg", alt="union" )
            h3 Страница не существует <br>или была удалена
            a(href="#" target='_blank').btn.outline.m
                | на главную
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.1044 0.888861C11.644 4.57107 14.4737 7.45192 18.0627 7.97285L18.2496 7.99997L18.0627 8.0271C14.4737 8.54802 11.644 11.4289 11.1044 15.1111M17.803 7.99997L4.02734 7.99997" stroke="#B50000"/>
                    <circle cx="2.75" cy="8" r="1.5" stroke="#B50000"/>
                </svg>