@use "src/scss/common/files/mixins" as *;

.not-found {
  @include s(padding-top, 152);
  @include s(padding-bottom, 128);
  .not-found-inner {
    .title-wrapper {
      display: flex;
      align-items: center;
      @include s(gap, 28);
      @include s(margin-bottom, 28);
      justify-content: center;
      .image-wrapper {
        mask: url("../img/mask-404.png") center/cover no-repeat;
        @include s(width, 248);
        @include s(width, 300);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        color: var(--accent-color);
        font-weight: 400;
        @include s(font-size, 248);
        line-height: 68%;
        font-family: "spsl";
      }
    }
    .separator {
      @include s(max-width, 660);
      margin: auto;
      &::before {
        @include s(width, 303);
      }
      &::after {
        @include s(width, 303);
      }
    }
    h3 {
      text-align: center;
      @include h4;
      font-family: "spsl";
      @include s(margin-top, 28);
      @include s(margin-bottom, 20);

      color: var(--accent-color);
    }
    .btn {
      width: fit-content;
      margin: auto;
    }
  }
}
