// common components
include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/hero/hero.pug
include ../components/alert-img/alert-img.pug
include ../components/afisha/afisha.pug
include ../components/map/map.pug
include ../components/contacts/contacts.pug
include ../components/menu/menu.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../components/similar/similar.pug
include ../components/news-swiper/news-swiper.pug
include ../components/gallery/gallery.pug
include ../components/another-event/another-event.pug
include ../components/events-swiper/events-swiper.pug
include ../components/hero-swiper/hero-swiper.pug
include ../components/info-block/info-block.pug
include ../components/offices/offices.pug
include ../components/plan/plan.pug
include ../components/services/services.pug
include ../components/alert/alert.pug
include ../components/news-block/news-block.pug
include ../components/gastronomic/gastronomic.pug
include ../components/food-menu/food-menu.pug

// pages
include ../pages/home/home-about/home-about.pug
include ../pages/home/home-format/home-format.pug
include ../pages/home/home-features/home-features.pug

include ../pages/404/404.pug

include ../pages/policy/policy.pug

include ../pages/stock/stock.pug

include ../pages/news-item/news-item.pug

include ../pages/event-item/event-item.pug

include ../pages/sample-page/sample-page.pug

include ../modals/book-modal/book-modal.pug
