// common components
include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/hero/hero.pug
include ../components/alert-img/alert-img.pug
include ../components/afisha/afisha.pug
include ../components/map/map.pug
include ../components/contacts/contacts.pug
include ../components/menu/menu.pug

// pages
include ../pages/home/home-about/home-about.pug
include ../pages/home/home-format/home-format.pug
include ../pages/home/home-features/home-features.pug
include ../pages/home/home-news/home-news.pug
include ../pages/home/home-alert/home-alert.pug

include ../modals/book-modal/book-modal.pug
