doctype html
html(lang='ru')
  include ./mixins.pug
  block head
  body
    block header
    main
      block content
    block footer
    .modals 
      block modals
    script(src="https://api-maps.yandex.ru/v3/?apikey=43191fbc-c80b-4bf4-98ef-b14487ccd9d8&lang=ru_RU")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU")
    script(src="js/app.min.js") 