doctype html
html(lang='ru')
  include ./mixins.pug
  block head
  body
    block header
    main
      block content
    block footer
    .modals 
      block modals
    script(src="js/app.min.js" defer) 