mixin menu()
    .menu-wrapper 
        .bg 
        .menu
            .menu-inner.container 
                .menu-main-content 
                    .col 
                        p.title Услуги
                        .links-list 
                            a(href="#") SPA процедуры
                            a(href="#") Аромапарения
                            a(href="#") Кухня и бар
                    .col 
                        p.title Банный отдых
                        .links-list 
                            a(href="#") Мужская баня
                            a(href="#") VIP зал Сьют
                            a(href="#") Кабинет 1
                            a(href="#") Кабинет 2
                            a(href="#") Кабинет 3
                    .image-container 
                        img(src="./img/menu/text.svg", alt="text")
                        .image-wrapper 
                            img(src="./img/menu/img.jpg", alt="menu")
                    .col 
                        p.title Информация
                        .links-list 
                            a(href="#") Цены
                            a(href="#") Товары для бани
                            a(href="#") Новости
                            a(href="#") Афиша
                            a(href="#") Контакты
                    .col 
                        p.title Спец. предложения
                        .links-list 
                            a(href="#") Акции
                            a(href="#") Сертификаты
                .menu-contacts-wrapper
                    .separator 
                        img(src="./img/icons/union-red.svg", alt="union")
                    .menu-contacts 
                        .contacts-item 
                            .content 
                                p пл. Киевского Вокзала, 1А
                                .date-item 
                                    p Ежедневно
                                    p с 10:00 до 02:00
                            img(src="./img/menu/pin.svg", alt="pin")
                        .contacts-item 
                            img(src="./img/menu/phone.svg", alt="pin")
                            .content 
                                a(href="tel:88001234567") 8 800 123-45-67
                                .date-item 
                                    p Call center
                                    p с 10:00 до 02:00