mixin gastronomic()
    .gastronomic
        .gastronomic-inner.container-sm
            .image-container 
                img(loading="lazy" src="./img/icons/union-red-top.svg", alt="union" width='29' height='16')
                .image-wrapper 
                    img(loading="lazy" src="./img/gastronomic/1.jpg", alt="gastronomic" data-parallax="right" width='283' height='505')
                img(loading="lazy" src="./img/icons/union-red-bottom.svg", alt="union" width='29' height='16')
            .content 
                +alert-img({img: "./img/gastronomic/person.jpg"})
                
                h3.title Здесь разгораются нешуточные страсти!
                .separator 
                    img(loading="lazy" src="./img/icons/union-red.svg", alt="union" width='29' height='16')
                p.descr Меню от бренд-шефа Сергея Отдельнова, который в качестве вдохновения использовал исконно русские мотивы и специфику банной индустрии
                a(href="#").btn.primary.m
                    | смотреть меню
                    img(loading="lazy" src="./img/icons/arrow-right-outline.svg", alt="arrow") 
            .image-container 
                img(loading="lazy" src="./img/icons/union-red-top.svg", alt="union" width='29' height='16')
                .image-wrapper 
                    img(loading="lazy" src="./img/gastronomic/2.jpg", alt="gastronomic"  data-parallax="right" width='283' height='505')
                img(loading="lazy" src="./img/icons/union-red-bottom.svg", alt="union" width='29' height='16')