mixin home-about()
    .home-about
        .home-about-inner.container-sm
            .image-container 
                img(loading="lazy" src="./img/icons/union-red-top.svg", alt="union" width='29' height='11')
                .image-wrapper 
                    img(loading="lazy" src="./img/home/about/img1.jpg", alt="about" width='283' height='505')
                img(loading="lazy" src="./img/icons/union-red-bottom.svg", alt="union" width='29' height='11')
            .content 
                +alert-img({img: "./img/home/about/alert.jpg"})
                
                h3.title Здесь разгораются нешуточные страсти!
                .separator 
                    img(loading="lazy" src="./img/icons/union-red.svg", alt="union" width='29' height='11')
                .text 
                    p 
                        span И 
                        | не только банные: в нашей новой сказке воедино сплетутся традиции и инновации, изысканные блюда в головокружительных подачах, шоу, вечеринки и перфомансы.
                    p 
                        span В
                        | сё — на высочайшем уровне и с неведомым ранее сервисом и персонализацией для наших гостей, ведь удивлять — главная страсть команды «ОГНИВА».
                a(href="#").btn.primary.m
                    | о комплексе
                    img(loading="lazy" src="./img/icons/arrow-right-outline.svg", alt="arrow" width='17' height='14') 
            .image-container 
                img(loading="lazy" src="./img/icons/union-red-top.svg", alt="union" width='29' height='11')
                .image-wrapper 
                    img(loading="lazy" src="./img/home/about/img3.jpg", alt="about" width='283' height='505')
                img(loading="lazy" src="./img/icons/union-red-bottom.svg", alt="union" width='29' height='11')