@use "src/scss/common/files/mixins" as *;

.home-about {
  .home-about-inner {
    display: grid;
    @include gtc(1fr, 660, 1fr);
    @include s(gap, 97);
    @include s(margin-top, 40);
    align-items: flex-start;
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include s(gap, 10);
      & > img {
        @include s(width, 29);
        @include s(height, 12);
      }
      &:nth-child(1) {
        .image-wrapper {
          mask: url("../img/home/about/mask1.png") center/cover no-repeat;
        }
      }
      &:nth-child(3) {
        display: flex;
        justify-content: flex-end;
        .image-wrapper {
          mask: url("../img/home/about/mask2.png") center/cover no-repeat;
        }
      }
      .image-wrapper {
        @include s(width, 283);
        @include s(height, 505);
        display: flex;
        align-items: center;
        img {
          width: 120%;
          height: 100%;
          object-fit: cover;
          object-position: bottom;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        text-align: center;
        @include h1;
        color: var(--accent-color);
        @include s(margin-top, 24);
      }
      .separator {
        @include s(margin-top, 28);
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        &:after {
          content: "";
          @include s(width, 303);
          height: 1px;
          background: var(--hover-color);
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:before {
          content: "";
          @include s(width, 303);
          height: 1px;
          background: var(--hover-color);
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        img {
          @include s(width, 29);
          @include s(height, 16);
        }
      }
      .text {
        @include s(margin-top, 43);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include s(gap, 61);
        p {
          @include descr-m;
          text-transform: uppercase;
          span {
            font-family: "spsl";
            color: var(--accent-color);
            @include s(font-size, 48);
            @include s(letter-spacing, -2);
            line-height: 72%;
          }
        }
      }
      .btn {
        @include s(margin-top, 52);
      }
    }
  }
}
