mixin policy()
    .policy.policy-page
        .policy-inner.container 
            h1 Политика конфиденциальности
            .policy-menu.policy-menu-mob 
                button(data-link='0').policy-meny__link
                    span 1. 
                    | Обрабатываемые данные
                button(data-link='1').policy-meny__link
                    span 2. 
                    | Общие положения
                button(data-link='2').policy-meny__link
                    span 3. 
                    | Термины
                button(data-link='3').policy-meny__link
                    span 4. 
                    | Передача данных
                button(data-link='4').policy-meny__link
                    span 5. 
                    | Изменение Политики конфиденциальности
            .policy-content
                .policy-text 
                    h6 Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет собой правила использования /указать владельца сайта/ (далее – «мы» и/или «Администрация») данных интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых с использованием сайта / указать URL сайта/ (далее – «Сайт»).
                    h3 
                        span 1. 
                        | Обрабатываемые данные
                    ol 
                        li  Мы не осуществляем сбор ваших   
                            a(href='#') персональных данных
                            | с использованием Сайта.
                        li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                        li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                        li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                        li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                        li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                    h3 
                        span 2. 
                        | Обрабатываемые данные
                    ol 
                        li  Мы не осуществляем сбор ваших   
                            a(href='#') персональных данных
                            | с использованием Сайта.
                        li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                        li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                        li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                        li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                        li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                    h3 
                        span 3. 
                        | Обрабатываемые данные
                    ol 
                        li  Мы не осуществляем сбор ваших   
                            a(href='#') персональных данных
                            | с использованием Сайта.
                        li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                        li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                        li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                        li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                        li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                    h3 
                        span 4. 
                        | Обрабатываемые данные
                    ol 
                        li  Мы не осуществляем сбор ваших   
                            a(href='#') персональных данных
                            | с использованием Сайта.
                        li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                        li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                        li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                        li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                        li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                    h3 
                        span 5. 
                        | Обрабатываемые данные
                    ol 
                        li  Мы не осуществляем сбор ваших   
                            a(href='#') персональных данных
                            | с использованием Сайта.
                        li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                        li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                        li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                        li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                        li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                .policy-menu 
                    .sticky-block 
                        button(data-link='0').policy-meny__link
                            span 1. 
                            | Обрабатываемые данные
                        button(data-link='1').policy-meny__link
                            span 2. 
                            | Общие положения
                        button(data-link='2').policy-meny__link
                            span 3. 
                            | Термины
                        button(data-link='3').policy-meny__link
                            span 4. 
                            | Передача данных
                        button(data-link='4').policy-meny__link
                            span 5. 
                            | Изменение Политики конфиденциальности