@use "src/scss/common/files/mixins" as *;

.home-news {
  @include s(margin-top, 96);
  @include s(margin-bottom, 96);
  overflow: hidden;
  @media (max-width: $tab-sm) {
    @include s(margin-top, 64);
    @include s(margin-bottom, 64);
  }
  .home-news-inner {
    .tabs {
      display: flex;
      align-items: baseline;
      justify-content: center;
      @include s(gap, 56);
      @media (max-width: $tab-sm) {
        @include s(gap, 36);
      }
      button {
        width: fit-content;
      }
    }
    .tab-content {
      @include s(margin-top, 48);
      @media (max-width: $tab-sm) {
        @include s(margin-top, 24);
      }
      .triple-swiper {
        position: relative;
      }
      .swiper-slide {
        &.swiper-slide-active {
          .content {
            opacity: 1 !important;
          }
        }
        .image-wrapper {
          @include s(height, 397);
          @media (max-width: $tab-sm) {
            @include s(height, 258);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          @include s(margin-top, -40);
          @media (max-width: $tab-sm) {
            @include s(margin-top, -27);
            opacity: 0;
            transition: var(--trs-cubic-300);
          }
          .date-wrapper {
            display: grid;
            @include gtc(90, 1fr, 90);
            @include s(gap, 70);
            align-items: flex-end;
            @media (max-width: $tab-sm) {
              @include gtc(83, 1fr, 83);

              @include s(gap, 12);
            }
            .date {
              @include s(width, 80);
              @include s(height, 80);
              display: flex;
              align-items: center;
              justify-content: center;
              @include descr-xl;
              color: var(--accent-color);
              background-image: url("../img/afisha/date-bg.svg");
              background-size: contain;
              background-repeat: no-repeat;
              @media (max-width: $tab-sm) {
                @include s(width, 56);
                @include s(height, 56);
                @include descr-l;
              }
            }
            .year {
              text-align: right;
            }
            .year,
            .mounth {
              color: var(--accent-color);
              text-transform: uppercase;
              @include descr-s;
              @include s(padding-bottom, 12);
            }
          }
          .title {
            @include s(margin-top, 12);
            text-align: center;
            @include display-m;
            @media (max-width: $tab-sm) {
              @include display-s;
              @include s(margin-top, 16);
            }
          }
          .descr {
            @include s(margin-top, 12);
            text-align: center;
            @include normal-m;
            @media (max-width: $tab-sm) {
              @include normal-s;
            }
          }
        }
      }
      .navigation {
        position: absolute;
        // bottom: 0;
        @include s(top, 173);
        // top: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        // left: 0;
        // right: 0;
        .triple-swiper-prev {
          @include s(margin-left, -26);
        }
        .triple-swiper-next {
          @include s(margin-right, -26);
        }
      }
      .primary {
        width: fit-content;
        margin: calc(44 / var(--screensize) * 100vw) auto 0;
        @media (max-width: $tab-sm) {
          margin: calc(28 / var(--screensize) * 100vw) auto 0;
          @include s(height, 40);
          @include descr-s;
        }
      }
    }
  }
}
