mixin offices()
    .offices
        .offices-inner.container 
            h3 Кабинеты <br> для приватного отдыха
            .offices-list 
                a(href="#").offices__item 
                    .image-wrapper 
                        img(loading="lazy" src="./img/offices/1.jpg ", alt="office" width='467' height='569')
                    .offices__item-content 
                        .total 
                            img(loading="lazy" src="./img/icons/user-white.svg", alt="user" width='18' height='18')
                            p до 6 чел.
                        p.title Кабинет 1
                        p.price 8 000 ₽ / час.
                        span.btn    
                            img(loading="lazy" src="./img/icons/arrow-right.svg", alt="arrow" width='56' height='56')
                a(href="#").offices__item 
                    .image-wrapper 
                        img(loading="lazy" src="./img/offices/2.jpg ", alt="office" width='467' height='569')
                    .offices__item-content 
                        .total 
                            img(loading="lazy" src="./img/icons/user-white.svg", alt="user" width='18' height='18')
                            p до 6 чел.
                        p.title Кабинет 2
                        p.price 10 000 ₽ / час.
                        span.btn    
                            img(loading="lazy" src="./img/icons/arrow-right.svg", alt="arrow" width='56' height='56')
                a(href="#").offices__item 
                    .image-wrapper 
                        img(loading="lazy" src="./img/offices/3.jpg ", alt="office" width='467' height='569')
                    .offices__item-content 
                        .total 
                            img(loading="lazy" src="./img/icons/user-white.svg", alt="user" width='18' height='18')
                            p до 6 чел.
                        p.title Кабинет 3
                        p.price 12 000 ₽ / час.
                        span.btn    
                            img(loading="lazy" src="./img/icons/arrow-right.svg", alt="arrow" width='56' height='56')