mixin plan()
    .plan
        .plan-inner.container 
            h3  План внутренних пространств
            .plan-content.tabs-wrapper
                .tabs
                    button.tab.active(data-tab='0') 1 этаж
                    button.tab(data-tab='1') 2 этаж
                .tab-content(data-tab='0')
                    .plan-features 
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Кабинеты №1 и №2
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Помывочная
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Кабинет №3
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Парные
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Приёмная
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Снежная комната
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p Простор для отдыха
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p раздевальня
                    .plan-img 
                        img(src="./img/plan/img1.jpg", alt="plan")
                .tab-content(data-tab='1')
                    .plan-features 
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p зал отдыха
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p душевые
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p соляная комната
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p парная (сауна)
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p кабинет 1
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p кабинет 2
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p кабинет 3
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p массажные комнаты
                        .plan-features__item 
                            img(src="./img/icons/union-empty.svg", alt="union")
                            p комната мыльного массажа
                    .plan-img 
                        img(src="./img/plan/img1.jpg", alt="plan")
