@use "src/scss/common/files/mixins" as *;

.info-block {
  @include s(margin-top, 20);
  .info-block-inner {
    @include s(padding-bottom, 48);
    border-bottom: 1px solid var(--lines-gold-color);

    h1 {
      color: var(--accent-color);
      @include h1;
      text-align: center;
    }
    .separator {
      @include s(margin-top, 28);
      &:last-child {
        @include s(margin-top, 36);
      }
      &:after {
        @include s(width, 640);
        background: var(--hover-color);

        @media (max-width: $tab-sm) {
          @include s(width, 108);
        }
      }
      &:before {
        @include s(width, 640);
        background: var(--hover-color);

        @media (max-width: $tab-sm) {
          @include s(width, 108);
        }
      }
    }
    .info-block-content {
      @include s(margin-top, 48);
      display: grid;
      @include gtc(1fr, 432);
      @include s(gap, 60);
      .info-hint-wrapper {
        position: relative;
        button {
          display: block;

          background-size: cover;
          cursor: pointer;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .info-hint {
          position: absolute;
          background: var(--white-color);
          @include borr(12, 12, 12, 0);
          @include padding(20, 24);
          box-shadow: var(--shadow);
          @include s(width, 260);
          pointer-events: none;
          opacity: 0;
          transition: var(--trs-cubic-300);
          @include s(bottom, 40);
          left: 0;
          text-align: left;
        }
        .info-hint[aria-hidden="false"] {
          opacity: 1;
        }
      }
      .info-blockt-text {
        .subtitle {
          color: var(--accent-color);
          @include h4;
        }
        p {
          @include s(margin-top, 28);
          @include normal-m;
        }
        .info-block-rooms {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @include s(column-gap, 48);
          @include s(row-gap, 16);
          @include s(margin-top, 36);

          .info-block__room {
            display: flex;
            align-items: center;
            @include s(gap, 20);
            .image-wrapper {
              mask: url("../img/room-mask.png") center/cover no-repeat;
              @include s(width, 72);
              @include s(height, 72);
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            p {
              text-transform: uppercase;
              margin-top: 0;
              @include descr-m;
            }
          }
        }
      }
      .info-block-features {
        .features-list {
          display: flex;
          flex-direction: column;
          .info-block__feature {
            @include padding(6, 0);
            display: grid;
            @include gtc(1fr, 174);
            align-items: center;
            border-top: 1px solid var(--lines-gold-color);
            &:first-child {
              border-top: none;
            }
            .label {
              display: flex;
              align-items: center;
              @include s(gap, 16);
              img {
                @include s(width, 48);
                @include s(height, 48);
                object-fit: cover;
              }
              p {
                text-transform: uppercase;
                @include descr-m;
                color: var(--hover-color);
              }
            }
            .value {
              @include descr-m;
              display: flex;
              @include s(gap, 5);
              justify-content: flex-end;
            }
          }
        }
        .btn {
          width: 100%;
          @include s(margin-top, 28);
        }
      }
    }
  }
}
