mixin info-block(data = {})
    .info-block
        .info-block-inner.container
            h1 #{data.title}
            .separator 
                img(src="./img/icons/union-red.svg", alt="union" )
            .info-block-content 
                .info-blockt-text 
                    p.subtitle #{data.subtitle}
                    each text in data.textList
                        p #{text}
                    if data.rooms
                        .info-block-rooms 
                            .info-block__room 
                                .image-wrapper 
                                    img(src="./img/services/3.jpg", alt="service")
                                p парная 17 м²
                            .info-block__room 
                                .image-wrapper 
                                    img(src="./img/services/3.jpg", alt="service")
                                p ледяная купель
                            .info-block__room 
                                .image-wrapper 
                                    img(src="./img/services/3.jpg", alt="service")
                                p ледяная купель
                            .info-block__room 
                                .image-wrapper 
                                    img(src="./img/services/3.jpg", alt="service")
                                p 2 душевые с обливными кадушками
                            .info-block__room 
                                .image-wrapper 
                                    img(src="./img/services/3.jpg", alt="service")
                                p гостиная для застолья
                            .info-block__room 
                                .image-wrapper 
                                    img(src="./img/services/3.jpg", alt="service")
                                p комплект <br>на 4 гостей 
                                .info-hint-wrapper
                                    button(aria-label="Показать информацию о комплекте" aria-expanded="false" aria-controls="hint-tooltip").info-hint-trigger
                                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.52081 19.0833C4.30634 17.9267 3.39285 16.3911 2.92886 14.6413C2.36778 12.5254 0.5 12.0017 0.5 12.0017C0.5 12.0017 2.56898 11.2475 2.92886 9.36207C3.41188 7.54058 4.38202 5.95105 5.67174 4.7797C6.79611 3.68617 8.23964 2.86295 9.8689 2.4303C11.9833 1.86882 12.5066 0 12.5066 0C12.5066 0 13.2603 2.07017 15.1444 2.4303C16.8681 2.88802 18.3839 3.78289 19.5338 4.97251C20.721 6.12289 21.6141 7.63865 22.0711 9.36207C22.431 11.2475 24.5 12.0017 24.5 12.0017C24.5 12.0017 22.6322 12.5254 22.0711 14.6413C21.5818 16.4866 20.5925 18.0938 19.2775 19.2694C18.1606 20.3385 16.736 21.1436 15.1313 21.5697C13.2471 21.9298 12.4935 24 12.4935 24C12.4935 24 11.9701 22.1312 9.85577 21.5697C8.15916 21.1192 6.66395 20.2451 5.52081 19.0833Z" fill="#C29862"/>
                                            <path d="M13.5254 7.87305C13.7676 7.87305 13.9707 7.95703 14.1348 8.125C14.3027 8.29297 14.3867 8.49609 14.3867 8.73438C14.3867 8.97266 14.3027 9.17578 14.1348 9.34375C13.9668 9.51172 13.7637 9.5957 13.5254 9.5957C13.291 9.5957 13.0898 9.51172 12.9219 9.34375C12.7539 9.17578 12.6699 8.97266 12.6699 8.73438C12.6699 8.49609 12.752 8.29297 12.916 8.125C13.084 7.95703 13.2871 7.87305 13.5254 7.87305ZM13.8887 10.5684L12.6875 14.7344C12.6211 14.9727 12.5879 15.1289 12.5879 15.2031C12.5879 15.2461 12.6055 15.2871 12.6406 15.3262C12.6758 15.3613 12.7129 15.3789 12.752 15.3789C12.8184 15.3789 12.8848 15.3496 12.9512 15.291C13.127 15.1465 13.3379 14.8848 13.584 14.5059L13.7832 14.623C13.1934 15.6504 12.5664 16.1641 11.9023 16.1641C11.6484 16.1641 11.4453 16.0938 11.293 15.9531C11.1445 15.8086 11.0703 15.627 11.0703 15.4082C11.0703 15.2637 11.1035 15.0801 11.1699 14.8574L11.9844 12.0566C12.0625 11.7871 12.1016 11.584 12.1016 11.4473C12.1016 11.3613 12.0645 11.2852 11.9902 11.2188C11.916 11.1523 11.8145 11.1191 11.6855 11.1191C11.627 11.1191 11.5566 11.1211 11.4746 11.125L11.5508 10.8906L13.5371 10.5684H13.8887Z" fill="white"/>
                                        </svg>
                                        .info-hint(role="tooltip" aria-hidden="true") В комплект входят: тапочки, шапки, полотенца, простыни и халаты
                .info-block-features
                    .features-list
                        .info-block__feature 
                            .label 
                                img(src="./img/info-features/1.svg", alt="feature")
                                p площадь комплекса
                            .value 160 м2
                        .info-block__feature 
                            .label 
                                img(src="./img/info-features/2.svg", alt="feature")
                                p ВМЕСТИМОСТЬ ЗАЛА
                            .value 166 МЕСТ
                        .info-block__feature 
                            .label 
                                img(src="./img/info-features/3.svg", alt="feature")
                                p бронирование
                            .value от 4 часов
                        .info-block__feature 
                            .label 
                                img(src="./img/info-features/3.svg", alt="feature")
                                p стоимость
                            .value 
                                .info-hint-wrapper
                                    button(aria-label="Показать информацию о комплекте" aria-expanded="false" aria-controls="hint-tooltip").info-hint-trigger
                                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.52081 19.0833C4.30634 17.9267 3.39285 16.3911 2.92886 14.6413C2.36778 12.5254 0.5 12.0017 0.5 12.0017C0.5 12.0017 2.56898 11.2475 2.92886 9.36207C3.41188 7.54058 4.38202 5.95105 5.67174 4.7797C6.79611 3.68617 8.23964 2.86295 9.8689 2.4303C11.9833 1.86882 12.5066 0 12.5066 0C12.5066 0 13.2603 2.07017 15.1444 2.4303C16.8681 2.88802 18.3839 3.78289 19.5338 4.97251C20.721 6.12289 21.6141 7.63865 22.0711 9.36207C22.431 11.2475 24.5 12.0017 24.5 12.0017C24.5 12.0017 22.6322 12.5254 22.0711 14.6413C21.5818 16.4866 20.5925 18.0938 19.2775 19.2694C18.1606 20.3385 16.736 21.1436 15.1313 21.5697C13.2471 21.9298 12.4935 24 12.4935 24C12.4935 24 11.9701 22.1312 9.85577 21.5697C8.15916 21.1192 6.66395 20.2451 5.52081 19.0833Z" fill="#C29862"/>
                                            <path d="M13.5254 7.87305C13.7676 7.87305 13.9707 7.95703 14.1348 8.125C14.3027 8.29297 14.3867 8.49609 14.3867 8.73438C14.3867 8.97266 14.3027 9.17578 14.1348 9.34375C13.9668 9.51172 13.7637 9.5957 13.5254 9.5957C13.291 9.5957 13.0898 9.51172 12.9219 9.34375C12.7539 9.17578 12.6699 8.97266 12.6699 8.73438C12.6699 8.49609 12.752 8.29297 12.916 8.125C13.084 7.95703 13.2871 7.87305 13.5254 7.87305ZM13.8887 10.5684L12.6875 14.7344C12.6211 14.9727 12.5879 15.1289 12.5879 15.2031C12.5879 15.2461 12.6055 15.2871 12.6406 15.3262C12.6758 15.3613 12.7129 15.3789 12.752 15.3789C12.8184 15.3789 12.8848 15.3496 12.9512 15.291C13.127 15.1465 13.3379 14.8848 13.584 14.5059L13.7832 14.623C13.1934 15.6504 12.5664 16.1641 11.9023 16.1641C11.6484 16.1641 11.4453 16.0938 11.293 15.9531C11.1445 15.8086 11.0703 15.627 11.0703 15.4082C11.0703 15.2637 11.1035 15.0801 11.1699 14.8574L11.9844 12.0566C12.0625 11.7871 12.1016 11.584 12.1016 11.4473C12.1016 11.3613 12.0645 11.2852 11.9902 11.2188C11.916 11.1523 11.8145 11.1191 11.6855 11.1191C11.627 11.1191 11.5566 11.1211 11.4746 11.125L11.5508 10.8906L13.5371 10.5684H13.8887Z" fill="white"/>
                                        </svg>
                                        .info-hint(role="tooltip" aria-hidden="true") В комплект входят: тапочки, шапки, полотенца, простыни и халаты
                                | от 5 500 ₽ / 4 часа
                    button.btn.primary.m(data-modal-target='book-modal') 
                        img(src="./img/icons/fire.svg", alt="fire")
                        | забронировать