@font-face {
  font-family: spsl;
  font-display: swap;
  src: url("../fonts/spsl_new_cyrillic.woff2") format("woff2"),
    url("../fonts/spsl_new_cyrillic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
