@use "src/scss/common/files/mixins" as *;

.footer {
  background-image: url("../img/footer/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include s(padding-bottom, 28);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 87);
  }
  .footer-inner {
    .footer-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include s(margin-top, -64);
      @media (max-width: $tab-sm) {
        @include s(margin-top, -40);
      }
      .alert-img {
        @include s(width, 128);
        @include s(height, 128);
        @media (max-width: $tab-sm) {
          @include s(width, 80);
          @include s(height, 80);
        }
        .alert-outer {
          @include s(width, 128);
          @include s(height, 128);
          @media (max-width: $tab-sm) {
            @include s(width, 80);
            @include s(height, 80);
          }
        }
        .alert-inner {
          @include s(width, 107);
          @include s(height, 107);
          @media (max-width: $tab-sm) {
            @include s(width, 66);
            @include s(height, 66);
          }
        }
      }
      .descr {
        font-weight: 600;
        @include s(font-size, 12);
        line-height: 148%;
        text-transform: uppercase;
        color: var(--hover-color);
        @include s(margin-top, 24);
        @media (max-width: $tab-sm) {
          text-align: center;
          @include descr-xs;
        }
      }
      .title {
        @include s(font-size, 56);
        font-family: "spsl";
        line-height: 68%;
        color: var(--hover-color);
        @include s(margin-top, 10);
        @media (max-width: $tab-sm) {
          text-align: center;
          @include h3;
        }
      }
      form {
        @include s(margin-top, 28);
        @include s(max-width, 660);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        input {
          background: none;
          outline: none;
          border: none;
          border-bottom: 1px solid var(--beige-color);
          width: 100%;
          @include s(font-size, 14);
          @include s(padding-bottom, 12);
          line-height: 148%;
          color: var(--white-color);

          &:placeholder-shown {
            @include s(font-size, 14);
            line-height: 148%;
            color: var(--white-color);
            text-align: center;
            opacity: 1;
            text-transform: uppercase;
          }
          &:placeholder {
            opacity: 1;
          }
        }
        .footer__policy {
          @include s(margin-top, 28);
          color: var(--white-color);
          font-weight: 400;
          @include s(font-size, 12);
          line-height: 148%;
          opacity: 0.5;
          @media (max-width: $tab-sm) {
            text-align: center;
            @include normal-xs;
          }
          a {
            color: var(--hover-color);
          }
        }
        .btn {
          @include s(margin-top, 12);
          @media (max-width: $tab-sm) {
            width: 100%;
          }
        }
      }
    }
    .footer-center {
      @include s(margin-top, 56);
      @include s(padding-top, 56);
      display: grid;
      @include gtc(1fr, 288);
      @include s(gap, 55);
      position: relative;
      @media (max-width: $tab-sm) {
        grid-template-columns: 1fr;
        @include s(margin-top, 48);
        @include s(padding-top, 48);
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-image: url("../img/footer/border.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        @include s(height, 24);
        @media (max-width: $tab-sm) {
          @include s(height, 12);
        }
      }
      .footer-center-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include s(gap, 24);
        @media (max-width: $tab-sm) {
          display: none;
        }
        .col {
          display: flex;
          flex-direction: column;
          @include s(gap, 44);
          .title {
            @include h6;
            color: var(--hover-color);
          }
          .link-list {
            display: flex;
            flex-direction: column;
            @include s(gap, 8);
            a {
              color: var(--white-color);
              font-weight: 400;
              @include s(font-size, 16);
              line-height: 136%;
            }
          }
        }
      }
      .footer-center-rating {
        display: flex;
        flex-direction: column;
        @include s(gap, 24);
        @media (max-width: $tab-sm) {
          flex-direction: row;
          justify-content: space-between;
        }
        .rating-item {
          display: grid;
          @include gtc(64, 1fr);
          @include s(gap, 20);
          @include s(padding-bottom, 24);
          border-bottom: 1px solid var(--hover-color);
          @media (max-width: $tab-sm) {
            grid-template-columns: 1fr;
            border-bottom: none;
            padding-bottom: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          img {
            @include s(width, 64);
            @include s(height, 64);
            @media (max-width: $tab-sm) {
              @include s(width, 56);
              @include s(height, 56);
              margin: auto;
            }
          }
          .rating-item-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: $tab-sm) {
              align-items: center;
            }
            span {
              @include s(margin-top, 12);
            }
            p,
            span {
              font-weight: 600;
              @include s(font-size, 12);
              line-height: 148%;
              text-transform: uppercase;
              color: var(--hover-color);
              display: flex;
              align-items: center;
              @include s(gap, 10);
              @media (max-width: $tab-sm) {
                @include descr-xs;
              }
            }
            .stars {
              display: flex;
              align-items: center;
              @include s(gap, 4);
              @include s(margin-top, 4);
              img {
                @include s(width, 16);
                @include s(height, 16);
                @media (max-width: $tab-sm) {
                  @include s(width, 12);
                  @include s(height, 12);
                }
              }
            }
            button {
              @include s(margin-top, 12);
              display: flex;
              align-items: center;
              @include s(gap, 10);
              font-weight: 600;
              @include s(font-size, 12);
              line-height: 148%;
              text-transform: uppercase;
              color: var(--white-color);
              @media (max-width: $tab-sm) {
                @include descr-xs;
              }
              svg {
                @include s(width, 17);
                @include s(height, 14);
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      @include s(margin-top, 56);
      @media (max-width: $tab-sm) {
        @include s(margin-top, 48);
      }
      .footer-socials {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          background-image: url("../img/footer/border-sm.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          @include s(width, 537);
          @include s(height, 24);
          @media (max-width: $tab-sm) {
            background-image: url("../img/footer/border-sm-mob.svg");
            @include s(width, 68);
            @include s(height, 12);
          }
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background-image: url("../img/footer/border-sm.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          @include s(width, 537);
          @include s(height, 24);
          @media (max-width: $tab-sm) {
            background-image: url("../img/footer/border-sm-mob.svg");
            @include s(width, 68);
            @include s(height, 12);
          }
        }
        .socials {
          display: flex;
          align-items: center;
          justify-content: center;
          @include s(gap, 16);
          @media (max-width: $tab-sm) {
            @include s(gap, 8);
          }
          a {
            @include s(width, 56);
            @include s(height, 56);
            @media (max-width: $tab-sm) {
              @include s(width, 48);
              @include s(height, 48);
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .footer-links {
        @include s(margin-top, 12);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $tab-sm) {
          flex-direction: column;
          @include s(margin-top, 20);
          @include s(gap, 18);
        }
        .col {
          @include s(gap, 48);
          align-items: center;
          display: flex;
          @media (max-width: $tab-sm) {
            flex-direction: column;
            @include s(gap, 18);
          }
          &:nth-child(2) {
            p {
              @include s(margin-right, 80);
              @media (max-width: $tab-sm) {
                margin-right: 0;
              }
            }
          }
          p,
          a {
            color: var(--hover-color);
            text-transform: uppercase;
            @include descr-xs;
            @media (max-width: $tab-sm) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
