mixin alert-img(data)
    .alert-img 
        .alert-outer
            img(loading="lazy" src="./img/home/about/alert-outer.svg", alt="alert" )
        .alert-inner
            img(loading="lazy" src=data.img, alt="alert" )