mixin alert-img(data)
    .alert-img 
        .alert-outer
            img(src="./img/home/about/alert-outer.svg", alt="alert" )
        .alert-inner
            img(src=data.img, alt="alert" data-parallax="left")