@use "src/scss/common/files/mixins" as *;

.alert-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include s(width, 172);
  @include s(height, 172);
  @media (max-width: $tab-sm) {
    @include s(width, 96);
    @include s(height, 96);
  }
  .alert-outer,
  .alert-inner {
    position: absolute;
    top: 0;

    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .alert-outer {
    @include s(width, 172);
    @include s(height, 172);
    mask: url("../img/icons/nav-bg.svg") center/cover no-repeat;
    @media (max-width: $tab-sm) {
      @include s(width, 96);
      @include s(height, 96);
    }
  }
  .alert-inner {
    @include s(width, 148);
    @include s(height, 148);
    mask: url("../img/icons/nav-bg.svg") center/cover no-repeat;
    @media (max-width: $tab-sm) {
      @include s(width, 82);
      @include s(height, 82);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
