mixin news-item()
    .news-item
        .news-item-inner.text-page.container
            h1 В гостях у сказки h1
            .image-container
                .image-wrapper 
                    img(loading="lazy" src="./img/icons/union-red-top.svg", alt="union" width='29' height='16').union
                    img(loading="lazy" src="./img/stock/img.jpg", alt="stock" data-parallax="left" width='888' height='499')
                    img(loading="lazy" src="./img/icons/union-red-top.svg", alt="union" width='29' height='16').union
                .date-wrapper 
                    p.mounth июнь
                    .date 03
                    p.year 2025
            .separator 
                img(loading="lazy" src="./img/icons/union-red.svg", alt="union" width='29' height='16')
            h2 Спа-ритуал без доплаты за аренду сьюта! h2
            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            .image-wrapper 
                img(loading="lazy" src="./img/stock/img2.jpg", alt="stock" data-parallax="right" width='888' height='499')
            p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            h3 Подзаголовок h3
            ul 
                li Какой то текст. Дальше текст для массы — ветер колышет листья на деревьях
                li Пока облака плывут в ленивом танце по небу. 
                    a(href="#") Подробнее
                li Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            h4 Подзаголовок h4
            p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            h4 Подзаголовок блока аккордеон h4
            .accordion 
                .accordion-item
                    button(type='button').accordion-title 
                        span.title Где-то вдалеке слышен щебет птиц
                        span.icon 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="9.00049" r="1.5" stroke="#B50000"/>
                                <path d="M9 8.00049L9 2.00049M9 16.0005L9 10.0005M8 9.00049H2M16 9.00049H10" stroke="#B50000"/>
                            </svg>
                    .collapse.accordion-body
                        p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Какой то текст. Дальше текст для массы — ветер колышет листья на деревьях
                            li Пока облака плывут в ленивом танце по небу. 
                                a(href="#") Подробнее
                            li Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                .accordion-item
                    button(type='button').accordion-title 
                        span.title Ветер колышет листья на деревьях
                        span.icon 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="9.00049" r="1.5" stroke="#B50000"/>
                                <path d="M9 8.00049L9 2.00049M9 16.0005L9 10.0005M8 9.00049H2M16 9.00049H10" stroke="#B50000"/>
                            </svg>
                    .collapse.accordion-body
                        p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Какой то текст. Дальше текст для массы — ветер колышет листья на деревьях
                            li Пока облака плывут в ленивом танце по небу. 
                                a(href="#") Подробнее
                            li Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                .accordion-item
                    button(type='button').accordion-title 
                        span.title Облака плывут в ленивом танце по небу
                        span.icon 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="9.00049" r="1.5" stroke="#B50000"/>
                                <path d="M9 8.00049L9 2.00049M9 16.0005L9 10.0005M8 9.00049H2M16 9.00049H10" stroke="#B50000"/>
                            </svg>
                    .collapse.accordion-body
                        p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Какой то текст. Дальше текст для массы — ветер колышет листья на деревьях
                            li Пока облака плывут в ленивом танце по небу. 
                                a(href="#") Подробнее
                            li Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            h5 Заголовок h5
            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            ol 
                li Какой то текст. Дальше текст для массы — ветер колышет листья на деревьях
                    ol 
                        li Какой то текст. Дальше текст для массы — ветер колышет листья на деревьях
                        li Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                li Пока облака плывут в ленивом танце по небу. 
                li Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            h6 Заголовок h6
            p Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
            button.btn.primary.book-btn.l(data-modal-target='book-modal') 
                img(loading="lazy" src="./img/icons/fire.svg", alt="fire" width='13' height='20')
                | забронировать 
            .separator 
                img(loading="lazy" src="./img/icons/union-red.svg", alt="union" width='29' height='16')