@use "src/scss/common/files/mixins" as *;

.food-menu {
  overflow: hidden;
  @include s(margin-top, 64);

  .food-menu-inner {
    .food-menu-swiper {
      position: relative;
      .navigation {
        position: absolute;
        @include s(top, 131);
        // top: 0;
        z-index: 3;
        // width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        @include s(right, -30);
        @include s(left, -30);
        // left: 0;
        // right: 0;
        // .triple-swiper-prev {
        //   @include s(margin-left, -46);
        // }
        // .triple-swiper-next {
        //   @include s(margin-right, -46);
        // }
      }
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      @include s(gap, 12);
      .title {
        text-align: center;
        text-transform: uppercase;
        @include descr-m;
      }
      .alert-img {
        @include s(width, 318);
        @include s(height, 318);
        @media (max-width: $tab-sm) {
          @include s(width, 80);
          @include s(height, 80);
        }
        .alert-outer {
          @include s(width, 318);
          @include s(height, 318);
          @media (max-width: $tab-sm) {
            @include s(width, 80);
            @include s(height, 80);
          }
        }
        .alert-inner {
          @include s(width, 288);
          @include s(height, 288);
          @media (max-width: $tab-sm) {
            @include s(width, 66);
            @include s(height, 66);
          }
        }
      }
    }
  }
}
