mixin services()
    .services
        .services-inner.container 
            h3 Авторские СПА-услуги
            .separator 
                img(src="./img/icons/union-bottom.svg", alt="union")
            p.subtitle для здоровья тела и услады души
            .services-list 
                a(href="#").service__item
                    .image-wrapper 
                        img(src="./img/services/1.jpg", alt="service") 
                    .service__item-content 
                        p.title Общие аромапарения
                        span.btn.primary.m.afisha-btn
                            | смотреть все
                            img(src="./img/icons/arrow-right-outline.svg", alt="arrow")
                a(href="#").service__item
                    .image-wrapper 
                        img(src="./img/services/2.jpg", alt="service") 
                    .service__item-content 
                        p.title Банные <br>процедуры
                a(href="#").service__item
                    .image-wrapper 
                        img(src="./img/services/3.jpg", alt="service") 
                    .service__item-content 
                        p.title Индивидуальные <br>парения
                a(href="#").service__item
                    .image-wrapper 
                        img(src="./img/services/4.jpg", alt="service") 
                    .service__item-content 
                        p.title Массажи
                a(href="#").service__item
                    .image-wrapper 
                        img(src="./img/services/3.jpg", alt="service") 
                    .service__item-content 
                        p.title Аппаратные <br>процедуры
                a(href="#").service__item
                    .image-wrapper 
                        img(src="./img/services/5.jpg", alt="service") 
                    .service__item-content 
                        p.title Комплексные СПА-программы