extends ./pug/templates/template.pug

block head 
  +head(["header", "alert-img", "404", "contacts", "map", "footer", "menu", "book-modal"])
block header 
  +header().dark.sm
  +menu()
block content
    +404()
block footer 
  +footer()
block modals 
  +book-modal()
