extends ./pug/templates/template.pug

block head 
  +head(["header", "news-swiper", "hero", "home-about", "home-format", "alert-img", "afisha", "home-features", "news-block", "alert", "contacts", "map", "footer", "menu", "book-modal"])
block header 
  +header()
  +menu()
block content
  +hero()
  +home-about()
  +home-format()
  +afisha()
  +home-features()
  +news-block()
  +alert()
  +contacts()
block footer 
  +footer()
block modals 
  +book-modal()
