extends ./pug/templates/template.pug

block head 
  +head(["header", "footer"])
block header 
block content
  .container(style='display: flex; flex-direction: column; gap: 20px;')
    a(href="home.html" style="color: #000") Главная 
    a(href="contacts.html" style="color: #000") Контакты
    a(href="stock.html" style="color: #000") акция
    a(href="news-item.html" style="color: #000") Новость
    a(href="event-item.html" style="color: #000") событие
    a(href="sample-page.html" style="color: #000") типовая текстовая
    a(href="policy.html" style="color: #000") политика конф 
    a(href="404.html" style="color: #000") 404 
block footer 
    