extends ./pug/templates/template.pug

block head 
  +head(["header", "text-page", "similar", "news-swiper", "breadcrumbs", "alert-img", "news-item", "footer", "menu", "book-modal"])
block header 
  +header().dark.sm
  +menu()
block content
    +breadcrumbs([{link: "#", text: 'Главная'}, {link: '#', text: 'Новости'}, {link: '#', text: 'В гостях у сказки'}])
    .text-page-wrapper
      +news-item()
      +similar()
block footer 
  +footer()
block modals 
  +book-modal()
