@use "src/scss/common/files/mixins" as *;

.news-block {
  @include s(margin-top, 96);
  @include s(margin-bottom, 96);
  overflow: hidden;
  @media (max-width: $tab-sm) {
    @include s(margin-top, 64);
    @include s(margin-bottom, 64);
  }
  .news-block-inner {
    .tabs {
      display: flex;
      align-items: baseline;
      justify-content: center;
      @include s(gap, 56);
      @media (max-width: $tab-sm) {
        @include s(gap, 36);
      }
      button {
        width: fit-content;
      }
    }
    .tab-content {
      @include s(margin-top, 48);
      @media (max-width: $tab-sm) {
        @include s(margin-top, 24);
      }

      .primary {
        width: fit-content;
        margin: calc(44 / var(--screensize) * 100vw) auto 0;
        @media (max-width: $tab-sm) {
          margin: calc(28 / var(--screensize) * 100vw) auto 0;
          @include s(height, 40);
          @include descr-s;
        }
      }
    }
  }
}
