mixin news-block()
    .news-block
        .news-block-inner.container.tabs-wrapper 
            .tabs 
                button.btn.tab.active(data-tab='0') Новости
                button.btn.tab(data-tab='1') Акции
            .tab-content(data-tab='0')
                +news-swiper()
                a(href="#").btn.primary.m 
                    | смотреть все
                    img(src="./img/icons/arrow-right-outline.svg", alt="arrow") 
            .tab-content(data-tab='1')
                +news-swiper()
                a(href="#").btn.primary.m 
                    | смотреть все
                    img(src="./img/icons/arrow-right-outline.svg", alt="arrow") 

            