mixin home-format()
    .home-format
        .bg 
            img(src="./img/home/format/bg1.jpg", alt="bg")
            img(src="./img/home/format/bg2.jpg", alt="bg")
        .home-format-inner.container
            .col 
                p.subtitle Общественная баня
                .content 
                    p.title Мужская <br>баня
                    a(href="#").btn.primary.m
                        | узнать больше
                        img(src="./img/icons/arrow-right-outline.svg", alt="arrow")
            .col 
                .content-wrapper
                    .union-wrapper
                        img(src="./img/icons/union-red.svg", alt="union")
                        p выберите
                    h3.title Свой формат отдыха
                    p.descr Общественный мужской формат или шале для разнополых компаний <br> с собственной <br>парной.
            .col 
                p.subtitle номер с индивидуальной парной
                .content 
                    p.title VIP- <br> апартаменты
                    a(href="#").btn.primary.m
                        | узнать больше
                        img(src="./img/icons/arrow-right-outline.svg", alt="arrow")